/* Animációk, előre definiált értékek */

@keyframes pulse {
    0% {
        color: rgba(255, 255, 255, 0.5);
        scale: 0.95;
    }

    50% {
        color: aliceblue;
        scale: 1;
    }

    100% {
        color: rgba(255, 255, 255, 0.5);
        scale: 0.95;
    }

}


@keyframes blurAnimation {
    0% {
        backdrop-filter: saturate(100%) blur(0px);
        -webkit-backdrop-filter: saturate(100%) blur(0px);
    }

    100% {
        backdrop-filter: saturate(100%) blur(20px);
        -webkit-backdrop-filter: saturate(100%) blur(20px);
    }
}

@keyframes dropIn {
    0% {
        backdrop-filter: saturate(100%) blur(100px);
        -webkit-backdrop-filter: saturate(100%) blur(100px);
        scale: 1.5;
        opacity: 0;
    }

    30% {
        opacity: 0.3;
    }

    100% {
        backdrop-filter: saturate(100%) blur(20px);
        -webkit-backdrop-filter: saturate(100%) blur(20px);
        scale: 1;
        opacity: 1;
    }

}

.revealTitle {
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
}

.revealTitle.visible {
    opacity: 1;
    filter: blur(0);
    transition: 1s;
}

.thumbnail.visible::before {
    backdrop-filter: saturate(100%) blur(0px);
    -webkit-backdrop-filter: saturate(100%) blur(0px);
}

.toreveal {
    opacity: 0;
    transition: 0.5s;
}

.toreveal.revealed {
    opacity: 1;
    transition: 0.5s;
}


@keyframes shake {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateY(10px);
    }
}

.wrongElem {
    filter: brightness(0.8) !important;
    animation: shake 0.5s infinite;
    transition: 0.5s;
}

.zoomOut {
    display: none;
    scale: 0;
    opacity: 0;
    transition: 1s;
}

@keyframes fadingUp {
    0% {
        opacity: 0;
        transform: translateY(calc(20px + -50%)) translateX(-50%);
    }

    50% {
        opacity: 1;
        transform: translateY(calc(0px + -50%)) translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateY(calc(-20px + -50%)) translateX(-50%);
    }
}

.fadeUp {
    animation: fadingUp 2s ease;
}

@keyframes shake2 {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.plusTime {
    color: rgb(255, 43, 43) !important;
    animation: shake2 0.5s ease;
    transition: 0.5s;
}

@keyframes fadingUp2 {
    0% {
        opacity: 0;
        transform: translateY(calc(20px + -50%)) translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(calc(0px + -50%)) translateX(-50%);
    }

}

.fadeUp2 {
    opacity: 1 !important;
    animation: fadingUp2 2s ease, pulse 2s infinite;
}